#hatter{
    -fx-background-color:orange;
}
.button:hover{
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color:gray;
}
